Amir zeb 
Kpk Peshawar 
Jawan Pakistan Data Science First Assigement

Question no 1

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

Question no 2 : Write a program to display the python version

In [ ]:
import sys
import sys
print("Python version")
print (sys.version)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

Question no 3: Write a python program to get the current date and time

In [ ]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-12-29 13:28:02

  Question no 4 Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Question no 5 Write a Python program which accepts the user's first and last name and print them in reverse order with a

In [ ]:

fname = input("Input your First Name : ")

lname = input("Input your Last Name : ")

print ("Welcome " + lname + " " + fname)

Input your First Name : Amir
Input your Last Name : ZEB
Welcome ZEB Amir

Question no 6 Write a program in python take two input from user and find addition,

In [ ]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
sum = a + b;
print("sum:", sum)

enter first number: 34
enter second number: 66
sum: 100